@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --primary: rgb(23, 114, 219);
    --text-white: rgb(238, 238, 238);
    --text-dark: rgb(58, 29, 29);
    --shadow: rgba(7, 7, 7, 0.582);
    --hoover: black;
    --max-width: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding-bottom: 4rem;
}

/*******base styles*************************/
h1 {
    color: var(--text-white);
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

.button {
    text-decoration: none;
    color: var(--text-white);
    background-color: var(--primary);
    width: 8.2rem;
    height: 2.438rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.625rem;
    font-weight: 700;
    

}

/*******************************************/

nav {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav__logo img {
    width: 5rem;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    font-weight: 500;
    color: var(--text-dark);
    transition: 0.3s;
    text-decoration: none;
}

.link__change a {
    text-decoration: none;
    color: var(--text-white);
    background-color: var(--primary);
    width: 10rem;
    height: 2.438rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
} 

.link a:hover {
    color: var(--hoover);
}

.link__change a:hover {
    color: var(--hoover);
}



/*******************************************/
.header__container {
    background-image: url(img/header.jpg);
    width: 100%;
    position: relative;
    background-position: center;
    padding-top: 50%;
    background-size: cover;
    background-repeat: no repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__container__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--shadow);
    width: 40rem;
    height: 13rem;

    position: absolute;
    margin-bottom: 50%;
}

.header__container__image p {
    color: var(--text-white);
    font-size: 1.2rem;
    padding: 0.4rem;
}
/*******************************************/

.main__up__tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.main__up {
    display: grid;
    
}

.main__up__services {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

}

.main__up__services__box {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    color: var(--primary);
}

.main__up__services__box h3 {
    font-size: 1rem;
}
.main__up__services__box p {
    font-size: 0.8rem;
}


/*******************************************/

.main__bottom__tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem;
}

.main__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 1rem;
}

.main__bottom__name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.2rem;

}

.main__bottom a {
    text-decoration: none;
    color: var(--text-dark);
    font-size: 1rem;
}

.main__bottom__box {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.192);
    padding-bottom: 0.5rem;
}

 .main__bottom__rooms__shadow {
     background-color: rgba(0, 0, 0, 0.692);
     width: 4rem;
     border-bottom-right-radius: 1rem;
 }

 .main__bottom__rooms__shadow h3 {
     color: var(--text-white);
     font-weight: 300;
     padding-left: 0.2rem;
 }

 .main__bottom__rooms__shadow p {
     color: var(--text-white);
     font-weight: 300;
     font-size: 0.6rem;
     padding-left: 0.2rem;
     padding-bottom: 0.2rem;
 }
.main__bottom__img1,
.main__bottom__img2,
.main__bottom__img3 {
    width: 100%;
    padding-bottom: 35%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    
    }

.main__bottom__img1 {
    background-image: url(img/presidential-room.jpg);
}

.main__bottom__img2 {
    background-image: url(img/family-deluxe.jpg);
}

.main__bottom__img3 {
    background-image: url(img/double-deluxe.jpg);
}


/*******************************************/

@media screen and (width < 900px) {
.header__container {
    padding-right: 100%;
}

.header__container__image {
    width: 15rem;
    height: 8rem;
    position: absolute;
    margin-left: 100%;
    
}

h1 {
    color: var(--text-white);
    font-size: 1.5rem;
}

.header__container__image p {
    font-size: 0.6rem;
}

.main__up__services {
    grid-template-columns: repeat(2, 1fr);
}

.main__up {
    margin: 2rem;
}

.main__bottom {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem; 
}

.button {
    width: 5rem;
    height: 1.5rem;
    font-size: 0.5rem;
    font-weight: 400;
}

.main__bottom__img1,
.main__bottom__img2,
.main__bottom__img3 {
    padding-bottom: 100%;
}

    
}